{%extends 'pcmappv2/base-site.html'%}
{%block content%}
{%load static%}
<section id="main">
  <div class="inner">
    <header>
      <h2>Our Activities </h2>
      <p>Take a look at our activities that we do and explore the gallery</p>
    </header>

    <div class="row">
      <div class="col s2">
        <img class="img-thumbnail" src="{%static 'pcmappv2/images/annualtrip.jpg'%}" alt="Card image cap" width="200">
      </div>
      <div class="col s10">
        Date: 05 July 2018 </br>
        Event: BOTC Challenge 2 </br>
        Activity: Challenge
      </div>
    </div>
    <div class="row">
      <div class="col s2">
        <img class="img-thumbnail" src="{%static 'pcmappv2/images/fraser.jpg'%}" alt="Card image cap" width="200">

      </div>
      <div class="col s10">
        Date: 045 July 2018 </br>
        Event: BOTC Challenge 2 </br>
        Activity: Challenge
      </div>

  </div>
</section>
{%endblock%}
