{% extends "pcmappv2/base-site.html" %}
{%load static%}
{%block content%}
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>Welcome to the Peugeot Club Malaysia Members Area</h1>
					<h5>Do register your self if you are interested in being a member of the club. Click on Register from the menu.</h5>
					<ul class="actions">
						<li><a href="#one" class="button alt scrolly big">Continue</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<article id="one" class="post style2">
				<div class="image">
					<img src="{% static "pcmappv2/images/annualtrip.JPG"%}" alt="" data-position="75% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>What we do </h2>

						</header>
						<p>As a club for Peugeot car owners we provide the support of a community to share problems, thoughts and news
							to everyone. Some of the benefits that you will enjoy include:
						</p>
						<ul class="alt">
							<li> Club 'Dry-fit' T- Shirt</li>
							<li> Club Road Tax Sticker</li>
							<li> Subsidized trips</li>
							<li> Entitlement for 10+10 SC Buddy Program</li>
						</ul>
						<p><strong>Fees: RM50 (one-time registration) + RM 120 (2-years membership) = Total RM 170</strong></p>
						<p>Please make payment to Kelab Peugeot Malaysia (MAYBANK 514301320153) and attach the receipt using the link below.</p>
						<ul class="actions">
							<li><a href="{%url 'pcmappv2:registermember'%}" class="button special">Register Here</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#" class="prev disabled"><span class="icon fa-chevron-up"></span></a>
						<a href="#two" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Two -->
			<article id="two" class="post invert style2 alt">
				<div class="image">
					<img src="{% static "pcmappv2/images/fraser.jpg"%}" alt="" data-position="10% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2>Activities</h2>
							<p class="info">Some of our activities</p>
						</header>
						<p>Teh Tarik session !</p>
						<p>Day Drives !</p>
						<p>Makan-makan Drives !</p>

						<ul class="actions">
							<li><a href="{%url 'pcmappv2:activities'%}" class="button alt">Read More</a></li>
						</ul>

					</div>
					<div class="postnav">
						<a href="#one" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#three" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>

		<!-- Three
			<article id="three" class="post style1">
				<div class="image">
					<img src="{% static "pcmappv2/images/pic12.jpg"%}" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">Sed tempus interdum</a></h2>
							<p class="info">3 days ago by <a href="#">Jane Doe</a></p>
						</header>
						<p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
						<ul class="actions">
							<li><a href="generic.html" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#two" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#four" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article> -->

		<!-- Four
			<article id="four" class="post invert style1 alt">
				<div class="image">
					<img src="{% static "pcmappv2/images/pic14.jpg"%}" alt="" data-position="60% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">Adipiscing sed urna</a></h2>
							<p class="info">3 days ago by <a href="#">Jane Doe</a></p>
						</header>
						<p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
						<ul class="actions">
							<li><a href="generic.html" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#three" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#five" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article> -->

		<!-- Five
			<article id="five" class="post style3">
				<div class="image">
					<img src="{% static "pcmappv2/images/pic13.jpg"%}" alt="" data-position="5% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">Interdum et rutrum</a></h2>
							<p class="info">3 days ago by <a href="#">Jane Doe</a></p>
						</header>
						<p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
						<ul class="actions">
							<li><a href="generic.html" class="button special">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#four" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#six" class="scrolly next"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>  -->

		<!-- Six
			<article id="six" class="post invert style3 alt">
				<div class="image">
					<img src="{% static "pcmappv2/images/pic12.jpg"%}" alt="" data-position="80% center" />
				</div>
				<div class="content">
					<div class="inner">
						<header>
							<h2><a href="generic.html">Magna porta aliquam</a></h2>
							<p class="info">3 days ago by <a href="#">Jane Doe</a></p>
						</header>
						<p>Nullam posuere erat vel placerat rutrum. Praesent ac consectetur dui, et congue quam. Donec aliquam lacinia condimentum. Integer porta massa sapien, commodo sodales diam suscipit vitae. Aliquam quis felis sed urna semper semper. Phasellus eu scelerisque mi. Vivamus aliquam nisl libero, sit amet scelerisque ligula laoreet vel.</p>
						<ul class="actions">
							<li><a href="generic.html" class="button alt">Read More</a></li>
						</ul>
					</div>
					<div class="postnav">
						<a href="#five" class="scrolly prev"><span class="icon fa-chevron-up"></span></a>
						<a href="#" class="scrolly next disabled"><span class="icon fa-chevron-down"></span></a>
					</div>
				</div>
			</article>  -->
{%endblock%}
