{%extends 'pcmappv2/base-site.html'%}
{%block content%}
{%load static%}
  <section id="main">
    <div class="inner">
      <header>
        <h2>Statistics</h2>
        <p>Interesting Club Statistics</p>
      </header>
      <h1>PCM Statistics</h1>
      <div class="row uniform 50%">
        <div class="col s6">
          <h5>Peugeot Member Models</h5>
          <canvas id="myChart" width="300" height="400"></canvas>

          <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
          <script type="text/javascript" src="{%static 'js/Chart.min.js'%}"></script>
          <script type="text/javascript">
              $.get('{% url "pcmappv2:line_chart_json" %}', function(data) {
                  var ctx = $("#myChart").get(0).getContext("2d");
                  new Chart(ctx, {
                      type: 'bar', data: data
                  });
              });
          </script>
        </div>
        <div class="col s6">
        </h5>Membership by Month</h5>
        </div>
        </div>

    </div>
  </section>
{%endblock%}
