{%extends 'pcmappv2/base-site.html'%}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{%block content%}
<section id="main">
  <div class="inner">
    <header>
      <h2>Register as a new member. </h2>
      <p>Please key in your details and attach the details of your payment at the bottom of the form.</p>
    </header>

    <!-- Form are -->
    <h3>Member details </h3>
    <form method="post" enctype="multipart/form-data" action="#" class="form">
      {% csrf_token %}
      <div class="row uniform 50%">

        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_name%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_email%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_phone%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_address_state%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_address_postcode%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_source%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_birthdate%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_on_chat%}
        </div>

      </div>

      <div class="row uniform 50%">
        <div class="6u 12u$(xsmall)">
            <h3> Car details</h3>
          {%bootstrap_formset car_form%}

        </div>
        <div class="6u 12u$(xsmall)">
           <h3> Payment details</h3>
          {%bootstrap_formset receipt_form%}
        </div>
      </div>

      <div class="12u$">
        {% bootstrap_button "Save" button_type="submit" button_class="btn special" %}
      </div>

    </form>
  </div>
</section>
{%endblock%}
