{%extends 'pcmappv2/base-site.html'%}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{%block content%}
<section id="main">
  <div class="inner">
    <header>
      <h2>Register as a new member. </h2>
      <p>Please key in your details and attach the details of your payment at the bottom of the form.</p>
    </header>

    <!-- Form are -->
    <h3>Member details </h3>
    <form method="post" action="#" class="form">
      {% csrf_token %}
      <div class="row uniform 50%">

        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_name%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_email%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_phone%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_address_state%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_address_postcode%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_source%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_birthdate%}
        </div>
        <div class="6u 12u$(xsmall)">
          {%bootstrap_field form.member_on_chat%}
        </div>
        <!--<label for "whatsapp">Would you like to join the WhatsApp group?<label>
        <div class="12u">
          <input type="radio" id="whatsapp-yes" name="whatsapp">
          <label for "whatsapp-yes">Yes</label>
        </div>
        <div class="6u 12u$(xsmall)">
          <input type="radio" id="whatsapp-no" name="whatsapp">
          <label for "whatsapp-no">No </label>
        </div> -->
      </div>

        <h3> Car details</h3>
        <div class="row uniform 50%">
        <div class="3u 12u$(xsmall)">
          <label> Registration Number <label>
          <input type="text" name="regnum" id="regnum" value placeholder="Registration No.">
        </div>
        <div class="3u 12u$(xsmall)">
          <label> Model <label>
          <input type="text" name="model" id="model" value placeholder="Model">
        </div>
        <div class="3u 12u$(xsmall)">
          <label> Chassis <label>
          <input type="text" name="chassis" id="chassis" value placeholder="Car Chassis">
        </div>
        <div class="3u 12u$(xsmall)">
          <label> Year of Make <label>
          <input type="text" name="yearmake" id="yearmake" value placeholder="Year of Make">
        </div>
      </div>

      <div class="12u$">
        {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
      </div>

    </form>
  </div>
</section>
{%endblock%}
