{%extends 'pcmappv2/base-site.html'%}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{%block content%}
<section id="main">
  <div class="inner">
    <header>
      <h2>Registration complete.</h2>
      <p>Your registration has been received please wait for 48 hours to be added to the member
        database and be contacted by one of the committee members. Please contact us with the methods at the bottom of the page
      if you have further questions. </p>
    </header>

    <!-- Form are -->

  </div>
</section>
{%endblock%}
