
      <div class=" container header">
        <h2 style="
        color: white;
        background-color: black;
        padding: 1rem;
    ">PEUGEOT CLUB MALAYSIA (PCM)</h2>
      </div>
      <div class="container mt-3">
           
          <p>Dear {{member.member_name}},</p>
          <p>
            Please note that your membership expires on {{member.member_expiry_date}}.
          </p>
          <p>Please make payment to:</p>
          <ul>
              <li>Amount: <b>RM 120</b></li>
              <li>Account Name:  <b>Kelab Peugeot Malaysia</b></li>
              <li>Bank: <b>Maybank (MBB)</b></li>
              <li>Account Number: <b>514301320153</b></li>
          </ul>
          <p>once you have made payment please save the receipt image and upload it through the our club website.
          <a href="http://www.peugeotclubmalaysia.com">www.peugeotclubmalaysia.com.</a>
          Do login (or reset password) and go to the Member area where you will see a Renewal button. Click the button and enter the relevant
        details to proceed with the renewal. <br> We will verify and update your new membership expiry based on the image uploaded within 48 hours.</p>
      </div>
