{%extends 'pcmappv2/base-site.html'%}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{%block content%}
<section id="main">
  <div class="inner">
    <header>
      <h2>Membership Renewal complete.</h2>
      <p>Your payment details has been received please wait for 48 hours for the record to be updated
        after validation by the committee members. Please contact us with the methods at the bottom of the page
      if you have further questions. </p>
    </header>

    <!-- Form are -->

  </div>
</section>
{%endblock%}
